{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>City</th>
                <th>Interests</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        <a href="{{ url_for('profile', slug=user.slug, id=user.get_id()) }}">{{ user.display_name }}</a>
                        {% if user == current_user %}
                            (me)
                        {% endif %}
                    </td>
                    <td>{{ user.age_years }}</td>
                    <td>{{ user.city }}</td>
                    <td>{{ user.interests }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">
                        No users to show.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if page %}
        <p style="text-align: center;">
            <a href="?p={{ page - 1 }}">Prev</a> |
            <a href="?p={{ page + 1 }}">Next</a>
        </p>
    {% endif %}
{% endblock %}
